.box1{
    width: 200px;
    height: 100px;
    background: chartreuse;
    box-shadow: 5px 10px #CCCCCC;
}

.box2{
    width: 200px;
    height: 100px;
    background: rebeccapurple;
    box-shadow: 5px 10px #CCCCCC;
    margin-top: 20px;
}